body {
  background-color: darkgrey;
  align-content: center;
  text-align: center;
}
h1 {
  color: darkblue;
  font-family: 'Times New Roman', Times, serif;
}
.into{
    color:lightskyblue;
    font-size: 300%;
}
p {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    text-align: left;
    color: lightskyblue;
}
nav{
    background-color: darkslategray;
    color: lightskyblue;
    a{
        color: lightskyblue;
        font-size: 200%;
    }
}