body {
  background-color: darkgrey;
}
h1 {
  color: darkblue;
  font-family: 'Times New Roman', Times, serif;
}
.into{
    color:lightskyblue;
    font-size: 200%;
}
p {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}