:root{
    --main-bg:darkgrey;
    --banner-color:darkslategray;
    --headder-color:blue;
    --txt-color:black;
    --link-list-color:lightskyblue;
    --head-font: 'Times New Roman', Times, serif;
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --page-margin: 6rem;
}


body {
  background-color: var(--main-bg);
  text-align: left;
}
h1 {
  color: var(--headder-color);
  font-family: var(--head-font);
  background-color: var(--banner-color);
  font-size: 3em;
}
#intro{
    color:darkblue;
    font-size: 4em;
    background-color: var(--main-bg);
}
p {
  color: var(--txt-color);
  font-family: var(--body-font);
  text-align: left;
  font-size: 1em;
}
img{
    float: left;
}
.abouttext{
    text-align: left;
    float: right;
}
ul{
    text-align: left;
    color: var(--link-list-color);
}
li{
    text-align: left;
    display: inline-block;
    a{
        text-align: left;
        text-decoration: none;
        display: inline-block;
        color: var(--txt-color);
        font-size: 3em;
        font-family: var(--head-font);
    }
}
nav{
    text-align: left;
    background-color: var(--banner-color);
    color: var(--link-list-color);
    padding: 1rem 0;
    a{
        text-align: left;
        text-decoration: none;
        color: var(--link-list-color);
        font-size: 1.7em;
        font-family: var(--body-font);
    }
}